nav{
	margin-top: 3px;
	border-radius:10px;
	background: #8aa80f;
	height: 50px;
	margin: auto;
	margin-bottom: 5px;
	width: 960px;
}
nav ul{
	text-align: center;
	list-style: none;
	width: 100%;
}
nav ul li{
	color: #FFF;
	font-size: 20px;
	font-family: arial;
	font-weight: bold;
	display: inline-block;
	line-height: 50px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	vertical-align: middle;
	text-transform: uppercase;
}
nav ul li:hover{
	color: #efff3d;
}